{% extends 'accounts/base.html' %}
{% load i18n bootstrap3 staticfiles %}

{% block accounts_content %}
{# sample Facebook login #}
<a class="btn btn-lg btn-warning btn-block btn-facebook"
  href="{% url 'accounts:social:begin' backend='facebook'  %}?{{ request.GET.urlencode }}">
  {% trans 'Facebook Login' %}
</a>

{# password login #}

  <form method="post" class="form-signin form-horizontal" accept-charset="UTF-8"> {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons submit=_('Sign In') reset=_('Cancle') field_class="col-md-offset-3" %}
      {% endbuttons %}
  </form>

{% endblock %}
