{% extends 'accounts/base.html' %}
{% load i18n staticfiles %}

{% block accounts_content %}
{# sample Facebook login #}
<a class="btn btn-lg btn-warning btn-block btn-facebook"
  href="{% url 'accounts:social:begin' backend='facebook'  %}?{{ request.GET.urlencode }}">
  {% trans 'Facebook Login' %}
</a>

{# password login #}

  <form method="post" class="form-signin form-horizontal" accept-charset="UTF-8"> {% csrf_token %}
      {{ form }}
      <button type="submit" name="submit">_('Sign In)</button>
      <button type="reset" nme="reset">_('Cancel')</button>
  </form>

{% endblock %}
